<div class="container">

    <h1>Thuộc tính sản phẩm</h1>

    <br>
    <div class="content">
      <div class="form-section">
        <form [formGroup]="attributeForm" (ngSubmit)="onSubmit()">
            <h2>Tạo Thuộc tính sản phẩm</h2>
          
            <label for="productId">Tên sản phẩm</label>
            <select id="productId" formControlName="productId">
              <option *ngFor="let product of products" [value]="product.id">{{ product.name_product }}</option>
            </select>
          
            <label for="attributeOptionId">Tên Tùy chọn thuộc tính</label>
            <select id="attributeOptionId" formControlName="attributeOptionId">
              <option *ngFor="let attribute of attributes" [value]="attribute.id">{{ attribute.attribute_option_name }}</option>
            </select>
            
            <label for="price">Giá gốc</label>
            <input type="number" id="price" formControlName="price">
            <div *ngIf="attributeForm.get('price')?.invalid && attributeForm.get('price')?.touched">
              Giá gốc là bắt buộc và phải nằm trong khoảng từ 0 đến 100,000,000.
            </div>
            
            <label for="discountPrice">Giảm giá</label>
            <input type="number" id="discountPrice" formControlName="discountPrice">
            <div *ngIf="attributeForm.get('discountPrice')?.invalid && attributeForm.get('discountPrice')?.touched">
              Giá giảm là bắt buộc và phải nằm trong khoảng từ 0 đến 100,000,000.
            </div>
            
            <button type="submit" class="add-button" [disabled]="attributeForm.invalid">Tạo tùy chọn thuộc tính</button>
          </form>
          
      </div>

      <div class="categories-section">
        <h2>Thuộc tính sản phẩm</h2>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>Hình ảnh</th>
                <th>Tên Tùy chọn thuộc tính</th>
                <th>Giá trị tùy chọn thuộc tính</th>
                <th>Tên loại thuộc tính</th>
                <th>Giá gốc</th>
                <th>Giảm giá</th>
                <th>Thời gian tạo</th>
                <th>Thời gian sửa</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let product of products">
                <ng-container *ngFor="let attribute of product.attributes; let i = index">
                  <tr>
                    <td *ngIf="i === 0" [attr.rowspan]="product.attributes.length">
                      <input type="checkbox">
                    </td>
                    <td><img [src]="'http://localhost:8888/api/v1/products/images/' + attribute.image_url" class="tab-img" alt="Product Image"></td>
                    <td>{{ attribute.attributeOption.attribute_option_name }}</td>
                    <td>{{ attribute.attributeOption.attribute_option_value }}</td>
                    <td>{{ attribute.attributeOption.attributeType.attribute_name }}</td>
                    <td>{{ attribute.price }}</td>
                    <td>{{ attribute.discount_price }}</td>
                    <td>{{ formatDate(attribute.create_at) }}</td>
                    <td>{{ attribute.update_at ? formatDate(attribute.update_at) : 'N/A' }}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>